.appContainer {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  height: 700px;
}

.postCard {
  margin: 20px 50px;
  min-width: 25rem;
}

.hastag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.createPost {
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
}